

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h2 {
    text-align: center;
    color: #333;
}


.card {
    background-color: white;
    width: 300px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: 0.3s;
    border-radius: 5px; 
    overflow: hidden; 
    text-align: center;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-img {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
}

.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

td {
    border: none; 
    text-align: center;
    padding: 5px;
}

.login-name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.description {
    color: grey;
    font-size: 16px;
}

.school {
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
}

.social-icons {
    margin: 15px 0;
}

.social-icons i {
    font-size: 20px;
    margin: 0 5px;
    color: black;
    cursor: pointer;
}

.contact-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%; 
    font-size: 18px;
}

.contact-btn:hover {
    opacity: 0.7;
}