

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


nav {
    background-color: #333; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}


ul.main-menu {
    display: flex;
}


li {
    position: relative; 
}


a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}


li:hover > a {
    background-color: #ff4757; 
}

ul.dropdown {
    display: none;       
    position: absolute;  
    top: 100%;          
    left: 0;
    background-color: #444;
    min-width: 200px;   
    border-radius: 0 0 8px 8px; 
}

li:hover > ul.dropdown {
    display: block;
}

ul.dropdown li {
    border-bottom: 1px solid #555;
}

ul.dropdown li:last-child {
    border-bottom: none;
}

ul.dropdown li a:hover {
    background-color: #e84118; 
}