
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse; 
}

td {
    width: 50%;
    text-align: center;
    font-size: 2em; 
    font-family: sans-serif;
}

.cell-left {
    background-color: #C0D684; 
}

.cell-right {
    background-color: #F3C4B3; 
}